@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-sans: 'Inter';

    --background: 240 10% 4%;
    --foreground: 240 27% 98%;
    --card: 240 4% 11%;
    --card-foreground: 240 27% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 208 100% 61%;
    --primary-foreground: 240 10% 4%;
    --secondary: 240 2% 35%;
    --secondary-foreground: 240 27% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 2 77% 55%;
    --destructive-foreground: 240 27% 98%;
    --success: 135 48% 54%;
    --success-foreground: 240 27% 98%;
    --border: 0 0% 100% / 12%;
    --input: 0 0% 100% / 12%;
    --ring: 208 100% 61%;

    /* Shape */
    --radius: 0.5rem;

    /* CUSTOM */
    --primary-gradient-from: #6e87e3 var(--tw-gradient-from-position);
    --primary-gradient-to: #f11d1f var(--tw-gradient-to-position);
    --primary-gradient-foreground: 0 85.7% 97.3%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings:
      'rlig' 1,
      'calt' 1;
  }
}
